.container{
    width: 90%;
    margin: auto;
    margin-top: 70px;
    display: flex;
   
}

.title{
    border-bottom: 1px solid black;
    width: 230px;
}
.leftSection>p{
    color: rgb(163, 163, 163);
}
.subSection{

    margin: 20px;
   ;
}
.builtButton{
    width: 180px;
    height: 30px;
    margin-left: 10px;
    
}