.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.pricingSection {
  width: 180px;
  border-bottom: 1px solid black;
}

.container > p {
  margin-top: 10px;
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(163, 163, 163);
}

.pricingContent {
  margin-top: -100px;
  position: relative;
  top: 170px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
}
.footSction{
  width: 100%;
  height: 300px;
  background-color: #443b97;
}