.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20%;
  padding: 2rem;
  background-color: rgb(255, 247, 248);
}
.leftContainer {
  display: flex;
  margin-top: 30px;
  width: 25%;
  align-items: center;
  justify-content: space-evenly;
}
.box {
  width: 70px;
  height: 70px;
  // border: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box > p {
  font-size: 20px;
}
.rightContainer {
  width: 40%;
  margin-top: 40px;
}
.rightContainer > input {
  width: 400px;
  height: 60px;
  border: #e4e4e4;
}
.rightContainer > select {
  width: 100px;
  height: 60px;
  margin-left: 5px;
  border: #e4e4e4;
}
.domainButton {
  width: 150px;
  height: 4rem;
  margin-top: 10px;
  background-color: #443b97;
  color: white;
  border: none;
}
.domainButton:hover {
  background-color: black;
}

