.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-top: 100px;
  margin-top: 200px;
}
.container > p {
  margin-top: 10px;
  font-size: 20px;
  text-transform: uppercase;
  color: rgba(51, 43, 123, 0.75);
}
.offerTxt {
  width: 230px;
  border-bottom: 1px solid black;
}
.services {
  width: 200px;
  border-bottom: 1px solid black;
}
.servicesContainer {
  width: 80%;
  margin: auto;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
