.container {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  display: flex;
}
.leftSection {
  width: 50%;
  border: 3px solid rgb(1, 1, 247);
}
.rightSection {
  display: flex;
  flex-direction: column;
}
.affliatedImg {
  width: 100%;
  height: 100%;
  position: relative;
  right: 30px;
  bottom: 30px;
}
.title {
  margin-left: 30px;
  border-bottom: 1px solid black;
  width: 300px;
}
.rightSection > h5 {
  margin: 10px 0 0 30px;
  color: rgb(57, 57, 235);
}
.contain {
  height: 80%;
  display: flex;
  flex-direction: column; margin: 30px 0 0 30px;
  padding: 40px;
  justify-content: space-between;
  margin: 30px 0 0 30px;
  padding-left: 30px;
}
