.container{
    display: flex;

}
.container>img{
    width: 80px;
    height: 80px;
}
.txtContent{
    margin-left: 10px;
}
.txtContent>p{
    font-size: 16px;
    line-height: 0;
}
.txtContent>span{
    font-size: 13px;
   line-height: 0;
}