.container {
  display: flex;
}
.imgContainer {
  background-color: rgb(57, 57, 235);
}
.txtContainer {
  margin: 10px;
  padding-left: 10px;
}
.wcuImg {
  width: 100%;
  height: 100%;
  position: relative;
  right: 6px;
  bottom: 6px;
}
.circleFont {
  width: 50px;
  height: 50px;
  border: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.colorFont {
  color: blue;
}
