.container{
    display: flex;
    width: 23%;
    // border: 1px solid rgb(214, 214, 214);
}
.txtContainer{
    margin-left: 10px;
}
.txtContainer>p{
    color: rgb(155, 155, 155);
    padding-left: 2px;
    font-size: 15px;
}
.txtContainer>h5{
    color: rgb(80, 80, 80);
    padding-left: 1px;
}
.iconFont{
    color: #766dc4;
}
.txtContainer>h5:hover{
    color: #443b97;
}