.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.offerTxt{
    width: 230px;
    border-bottom: 1px solid black;
}
.container>p{
margin-top: 10px;
font-size: 20px;
text-transform: uppercase;
color: rgb(163, 163, 163);
}
.offerSection{
    margin: auto;
    width: 80%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (max-width:714px){
    .offerSection{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
}