.container{
    display: flex;
}
.peopleImg{
 width: 150px;
 height: 150px;
 border-radius: 50%;
 background-color: rgb(228, 62, 90);
}
.containerText{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.containerPara{
    font-size: 15px;
    color: white;
}
.txtSpan{
    color: white;
    font-size: 15px;
}
.txtSpan>span{
    line-height: 0;
    color: red;
} 