.container{
    margin-top: -260px;
    background-color: rgb(36, 36, 92);
}
.subContainer{
    margin: auto;
    padding-top: 400px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.webImg{
    width: 400px;
    height: 380px;
    margin-top: 5%;
}
.webBuild{
    margin-top: 5%;
    width: 30%;
    height: 250px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}