.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}
.featureSection {
  width: 250px;
  border-bottom: 1px solid black;
}
.container > p {
  margin-top: 10px;
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(163, 163, 163);
}

.featureContains {
  margin: auto;
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 70%;
}

