.container{
    width: 100%;
    height: 400px;
    background-color:#332b7b ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.imgClass{
    width: 130px;
    height: 130px;
}