.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.priceSticker{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e54b84;
    color: white;
    font-size: 20px;
}
.carouselContainer {
  margin: auto;
  margin-top: 80px;
  background-color: #443b97;
  width: 100%;
}
.carouselSection {
  margin: auto;
  margin-top: 50px;
  width: 80%;
  background-color: #443b97;
}
.sectionImg{
    width: 500px;
}
.itemsSubContainer {
  display: flex;
  margin-top: 60px;
}
.rifhtSection{
    color: white;
}
.readMoreButton{
    width: 200px;
    height: 3rem;
    background-color: #e54b84;
    color: white;
    margin-top: 10px;
    border: none;
}
