.container {
  margin-top: 100px;
}
.subContainer {
  display: flex;
  justify-content: space-evenly;
}
.content {
  margin: auto;
  margin-top: 50px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.content > input {
  width: 60%;
  height: 3rem;
  border: 1px solid rgb(219, 219, 219);
}
.aboutButtom {
  width: 150px;
  height: 3rem;
  margin-top: 10px;
  background-color: #443b97;
  color: white;
  border: none;
}
.aboutButtom:hover {
  background-color: black;
}
.recentPosts {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.posts{
  // border: 1px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 12px;
}

.title{
  width: 90px;
  border-bottom: 2px solid black;
}