.container{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.leftSection{
    width: 30%;
}
.rightSection{
    width: 30%;
    
}
.readMore{
    color: rgb(0, 89, 255);
}
readMoreText{
    margin-top: 30px;
}