.navbarContainer {
  position: sticky;
  top: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  background-color: rgb(33, 27, 91);
  z-index: 1;
}
.logoContain {
  cursor: pointer;
}
.menuItems {
  width: 40%;
  margin-left: 5%;
  margin-top: 1rem;
}

.listItems {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.listItems li {
  list-style: none;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  color: rgb(235, 232, 232);
  cursor: pointer;
}

// .active {
//   position: sticky;
//   top: 0;
//   z-index: 1;
//   height: 4rem;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   background-color: rgb(250, 244, 244);
// }

.navIconContainer {
  width: 5%;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: -13%;
  cursor: pointer;
}

.mobileNavIcon {
  cursor: pointer;
  right: 8rem;
  color: white;
  display: none;
}

// @media screen and (max-width: 768px) {

// }

@media screen and (min-width: 250px) and (max-width: 700px) {
  .navbarContainer {
    z-index: 1;
  }
  .navIconContainer {
    width: 10%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .logoContain {
    width: 30%;
  }
  .logoContain > img {
    width: 100%;
  }
  .mobileNavIcon {
    display: block;
  }
  .listItems {
    display: none;
  }
  .navLinkMobile {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    height: 30vh;
    background-color: rgb(219, 216, 216);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .navLinkMobile > li {
    color: rgb(46, 45, 45);
    font-size: 20px;
  }
}

@media screen and (min-width: 701px) and (max-width: 1200px) {
  .logoContain {
    width: 15%;
  }
  .logoContain > img {
    width: 100%;
  }
  .menuItems {
    width: 66%;
    margin-top: 1rem;
  }
  .navIconContainer {
    width: 8%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2%;
    margin-right: 5%;
  }
}
