.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  width: 230px;
  border-bottom: 1px solid black;
}
.container>p{
  color: blue;
  font-size: 20px;
  margin-top: 10px;
}
.carouselContainer {
  margin: auto;
  margin-top: 80px;
  background-color: #443b97;
  width: 80%;
  height: 400px;
  
}
.carouselSection {
  margin: auto;
  margin-top: 50px;
  width: 80%;
  height: 350px;
  background-color: #443b97;
}
.itemsSubContainer {
  display: flex;
  margin-top: 60px;
}
