.container{
  width: 100%;
}
.title { 
  width: 60%px;
  text-transform: uppercase;
}
.title > h1 {
  font-size: 60px;
}
.priceSticker {
  position: relative;
  top: 110px;
  left: 20px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #e54b84;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.priceSticker1 {
  position: relative;
  top: 100px;
  left: 180px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #e54b84;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.priceSticker2 {
  position: relative;
  top: 100px;
  left: 400px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #e54b84;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homePageTxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homePageTxt > h1 {
  font-size: 50px;
  letter-spacing: 1px;
}
.firstPageText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.priceOffSticker {
  position: relative;
  top: 180px;
  left: 120px;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}
.priceOffSticker1 {
  position: relative;
  top: 180px;
  left: 320px;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}
.homePageButton {
  width: 200px;
  height: 2.5rem;
  margin-top: 20px;
  background-color: #f16699;
}
.carouselDiv {
  display: flex;
}
.carouselDiv2 {
  display: flex;
}
@media screen and (min-width:250px) and (max-width:700px){
.container{
  width: 100%;
}
}