.container {
  width: 33%;
  display: flex;
  flex-direction: column;
  // justify-content: space-evenly;
}
.featureImg {
  width: 100%;
}
.featuresTxt {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background-color: #443b97;
  color: white;
}
.title {
  margin-top: 30px;
}
.subtitle {
  margin-top: 10px;
  font-size: 15px;
  padding: 15px;
}
.fontCircle {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 20px;
}
