.container {
  // border: 1px solid rgb(230, 230, 230);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 22%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.pricingTag {
  height: 100px;
  width: 100px;
  border-bottom: 1px solid blue;
  color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.pricingTag > p {
  line-height: 0;
}
.txt {
  border-bottom: 1px solid rgb(202, 202, 202);
  margin-top: 10px;
  width: 90%;
  text-align: center;
}
.pricingButton {
  margin-top: 100px;
  width: 70%;
  height: 3rem;
  border: 1px solid rgb(173, 173, 173);
  color: rgb(173, 173, 173);
  background-color: rgba(96, 86, 184, 0.75);
  text-transform: uppercase;
}
.container:hover {
  background-color: #e54b84;
}
