.container {
  width: 80%;
  margin: auto;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.txtBox1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  top: 60px;
  background-color: #e54b84;
  color: white;
  justify-content: space-evenly;
  align-items: center;
}
.title {
  text-align: center;
  border-bottom: 1px solid beige;
  width: 30%;
}
.title1 {
  text-align: center;
  border-bottom: 1px solid beige;
  width: 40%;
}
.subTitle {
  width: 80%;
}
.paragraph{
  padding: 20px;
  
}
.txtBox2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #443b97;
  color: white;
  justify-content: space-evenly;
  align-items: center;
}

.imgName1 {
  // width: 550px;
  // height: 500px;
  width: 100%;
  height: 100%;
}
.imgName2 {
  // width: 550px;
  // height: 500px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 70px;
}
.fontCircle{
  width: 50px;
  height: 50px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}