.container{
    margin-top: 50px;
    background-color: #443b97;
    height: 200px;
}
.subContainer{
    // margin-top: 20px;
    background-color: #443b97;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}
.paymentIcons{
    margin-top: 18px;
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-evenly;
}
.paymentIcons>p{
    color: white;
}
.paymentIcons>img{
    width: 50px;
}
.awardsIcons{
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.awardsIcons>p{
    color: white;
}
.footerBtn{
    margin-top: 18px;
    width: 10rem;
    height: 2rem;
    border: 0;
    background-color: #7fb603;
    color: white;
}
hr{
    color: white;
}
.rightReserved{
    background-color: #443b97;
    text-align: center;
    color: white;
}