.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txtContainer{
    margin-left: 15px;
}
.fontCircle{
    width: 60px;
    height: 60px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    // border: 1px solid red;
  }