.container {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}
.title {
  width: 180px;
  border-bottom: 1px solid black;
}
.leftSide>h5{
    color: #443b97;
}
.itemsContainer{
  margin-top: 80px;
}
.rightSide {
  width: 40%;
}
.rightTitle{
    width: 200px;
    border-bottom: 1px solid black;
}
.rightSide>h5{
    color: #443b97;
}
.tabsContainer{
    margin-top: 80px;
    width: 100%;
}
.tabContent{
  margin-top: 50px;
}