.container{
    width: 23%;
    // height: 400px;
    height: 70%;
    padding: 5%;
    background-color: #443b97;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
.container:hover{
    background-color: white;
    color: rgb(80, 79, 79);
    border: 2px solid #443b97;
}
.title{
    font-size: 20px;
    padding: 1rem;
    // line-height: 0;

}
.subTitle{
    font-size: 15px;
    padding: 0 25px 0 25px;
    
}
.fontCircle{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }